@import "../../index.scss";

.home {

    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    &__title {
        h1 {
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
            color: white;
        }
    }

    &__image {
        width: 100%;
        border-radius: 1rem;
    }

    @media (min-width: $media-breakpoint-up-xs) {
        width: 80%;
    }
        
    @media (min-width: $media-breakpoint-up-md) {
        width: 90%;
    }
}