.mobile-header {
    display: 'flex';
    flex-direction: 'row';
    align-items: 'center';
}

.desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: white;

    &__logo {
        width: 70% !important;
    }

    &__navigation {
        display: flex;
        justify-content: space-between !important;
        gap: 20px;

        &__links--active {
            color: white;
            text-decoration: underline;
        }

        &__links--inactive {
            color: white;
            text-decoration: none;
        }
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    }
}